.footer-decoration {
  border-top: 0.1rem solid #fff;
  padding-top: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  margin-bottom: 2rem;
}
.footer-decoration::before {
  content: ' ';
  position: relative;
  display: block;
  border-top: 0.1rem solid #fff;
  padding-top: 0.5rem;
}
