@import '../../data/variables';

.content {
  padding: 0.1rem;
  border: 0.6rem solid #000;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
  margin: auto;
  text-align: center;
}

.content-container {
  background-color: #fff;
  border: 0.8rem solid $lightBlue;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content:hover::before {
  background-color: white;
}
.content:hover::after {
  background-color: white;
}
.content:hover > ::after {
  background-color: white;
}
.content:hover > ::before {
  background-color: white;
}

.content::before,
.content::after,
.content-extra-corners::after,
.content-extra-corners::before {
  content: '';
  background-color: #000;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 2;
}

.content::before {
  left: 0;
  top: -0.1rem;
}

.content::after {
  right: 0;
  top: -0.1rem;
}

.content-extra-corners::after {
  left: 0;
  bottom: 0;
}

.content-extra-corners::before {
  right: 0;
  bottom: 0;
}

.content-detail {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content-title {
  padding-bottom: 1rem;
}

.content-description {
  padding-bottom: 1rem;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .content {
    // max-height: 700px !important;
  }
  .content-img {
    max-height: 320px;
  }
}
