.Lightbox {
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}

.Lightbox:target {
  /** Remove default browser outline */
  outline: none;
}
