.header {
  position: relative;
  color: #fff;
  margin-top: 1rem;
  height: 2rem;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: '';
  position: absolute;
  padding-top: 0.5rem;
  border-bottom: 0.1rem solid white;
  border-top: 0.1rem solid white;
  top: 0;
  width: 100%;
}

.fancy span:before {
  right: 100%;
  margin-right: 1rem;
}

.fancy span:after {
  left: 100%;
  margin-left: 1rem;
}
