@import './data/variables';
@import '~modern-normalize/modern-normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkBlue;
}

.App {
  width: 100%;
  height: calc(100vh - 2rem);
}

.megaText {
  font-family: 'MegaMan 2 Regular';
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: 'MegaMan 2 Regular';
  src: url('./assets/fonts/megaman_2.eot?') format('eot'),
    url('./assets/fonts/megaman_2.woff') format('woff'),
    url('./assets/fonts/megaman_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
