@import '../../data/variables';

.list-item {
  cursor: pointer;
  position: relative;
  display: inline-block !important;
  height: 10rem;
  width: 11rem;
}

.list-item-container:hover::before,
.list-item-container:hover::after,
.list-item-container:hover > ::before,
.list-item-container:hover > ::after {
  background-color: white;
}

.list-item-container {
  padding: 0.4rem;
  border: 0.6rem solid #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.list-item-container::before,
.list-item-container::after,
.list-item-extra-corners::before,
.list-item-extra-corners::after {
  content: '';
  background-color: #000;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 2;
}

.list-item-container::before {
  left: 0;
  top: 0;
}

.list-item-container::after {
  right: 0;
  top: 0;
}

.list-item-extra-corners::before {
  left: 0;
  bottom: 0;
}

.list-item-extra-corners::after {
  right: 0;
  bottom: 0;
}

.list-item-image-container {
  background-color: #000;
  border: 0.5rem solid #3cd0dd;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5rem;
  position: relative;
}

.list-item-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.list-item-detail {
  margin-top: 0.5rem;
}

.list-item-title {
  color: white;
}

.list-item-title:nth-child(2) {
  float: right;
}
.list-item:hover {
  background-color: white;
}
